{% extends 'layout.html' %}

{% block title %}About me{% endblock %}

{% block content %}
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    </head>
    <main>
        <h2>Career path</h2>
        <div>
            {% for personal in personals %}
                <div class="container">
                    <div>
                        <img src="{{ personal.image.url }}" alt="{{ personal.title }}">
                    </div>
                    <div>
                        <h3>{{ personal.title }}</h3>
                        <p>{{ personal.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            {% for education in educations %}
                <div class="container">
                    <div>
                        <img src="{{ education.image.url }}" alt="{{ education.title }}">
                    </div>
                    <div>
                        <h3>{{ education.title }}</h3>
                        <p>{{ education.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <h2>Professional Experience</h2>
            {% for job in jobs %}
                <div class="work-container">
                    <div>
                        <img src="{{ job.image.url }}" alt="{{ job.title }}">
                    </div>
                    <div>
                        <h3>{{ job.title }}</h3>
                        <p>{{ job.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="skills-container">
            <h2>Skills</h2>
            {% for skill in skills %}
                <ul>
                    <li>{{ skill.title }}</li>
                </ul>
            {% endfor %}
        </div>
        <div>
            <h2>Career goals</h2>
            {% for career in careers %}
                <ul class="container">
                    <li>{{ career.title }}</li>
                </ul>
            {% endfor %}
        </div>
    </main>

{% endblock %}
